

/* // Extra small devices (portrait phones, less than 576px) */
@media (min-width: 320px) and (max-width: 575.98px) {
    .img-thumbnail{
        width: 100%;
    }
    .frontend-sidebar {
        display: none;
    }
    .rspnv{
        padding-left: 0px;
        padding-right: 0px;
    }
    .rspnv-card-body{
        padding: 0.25rem;
    }
    .rspnv-container-prdct-detail {
        padding:0px;
    }
    .rspnv-image{
        padding-right: 4px;
        padding-left: 4px;
    }

    .hidden-app-name{
        display: none;
    }

    /* custom font */
    .prdct_name {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    .prdct_company {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: small;
    }

    .nav-item-mobile{
        /* border-bottom: 1px solid gray; */
        border-top: 1px solid gray;
    }

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .img-thumbnail{
        width: 100%;
    }
    .frontend-sidebar {
        display: none;
    }
    .rspnv-card-body{
        padding: 0.25rem;
    }
    .hidden-app-name{
        display: none;
    }
    .nav-item-mobile{
        /* border-bottom: 1px solid gray; */
        border-top: 1px solid gray;
    }
    .nav-item-mobile{
        /* border-bottom: 1px solid gray; */
        border-top: 1px solid gray;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .prdct_dtl{
        display: none;
    }
    .input-srch{
        width: 400px;
    }
    .frontend-sidebar {
        display: none;
    }
    .rspnv-card-body{
        padding: 0.25rem;
    }
    .nav-item-mobile{
        /* border-bottom: 1px solid gray; */
        border-top: 1px solid gray;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .prdct_dtl{
        display: none;
    }
    .input-srch{
        width: 400px;
    }
    .rspnv-card-body{
        padding: 0.5rem;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .prdct_dtl{
        display: none;
    }
    .input-srch{
        width: 400px;
    }
    .rspnv-card-body{
        padding: 0.5rem;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(253, 253, 253);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:left;
}

  

.sidenav li a {
    padding: 8px 8px 8px 32px;
    /* text-decoration: ; */
    font-size: 23px;
    color: #fcfafa;
    display: block;
    transition: 0.3s;
    margin-left: 20px;;
}
    
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}