

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .img-thumbnail{
        width: 100%;
    }
    .frontend-sidebar {
        display: none;
    }
    .rspnv{
        padding-left: 0px;
        padding-right: 0px;
    }
    .rspnv-card-body{
        padding: 0.25rem;
    }
    .rspnv-container-prdct-detail {
        padding:0px;
    }
    .rspnv-image{
        padding-right: 4px;
        padding-left: 4px;
    }
    .pagination-mobile{
        margin-left: 25%;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .img-thumbnail{
        width: 100%;
    }
    .frontend-sidebar {
        display: none;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .prdct_dtl{
        display: none;
    }
    .input-srch{
        width: 400px;
    }
    .frontend-sidebar {
        display: none;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .prdct_dtl{
        display: none;
    }
    .input-srch{
        width: 400px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .prdct_dtl{
        display: none;
    }
    .input-srch{
        width: 400px;
    }
}